@inherits IacTSAutoMatrixBase
@attribute [Authorize]

@if (MachinesList == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="container container-form">
        <a href="@runsLink" style="float:right">Runs</a>
        <h4 class="about-head">@PipeLineName </h4>
        @if (notification != "")
        {
            <div class="alert alert-success">
                @notification
                <span style="float:right">
                    <button type="button" class="close icon-button" @onclick="clearNotification">
                        <span aria-hidden="true">X</span>
                    </button>
                </span>
            </div>
        }
        <br />
        <form @onsubmit="RunPipeline">

            <div class="row">

                <div class="col-md-6 col-lg-6">

                    <div class="form-group">
                        <label for="Machine_Name" class="control-label">Machine Name</label>
                        <select asp-for="Machine_Name" class="form-control" @bind="@Machine_Name" @bind:event="oninput" required>
                            <option value="">select machine</option>
                            @foreach (var _machine in MachinesList)
                            {
                                <option value="@_machine.Name">@_machine.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group" style="padding-top:6px;">
                        <label asp-for="Rebuild" class="control-label">Rebuild</label>
                        <select asp-for="Rebuild" class="form-control" @bind="@Rebuild" required>
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select>
                    </div>

                    <br />

                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label asp-for="Instructions" class="control-label">
                            Instructions<br />
                            <span style="font-size:11px; color:#595a5c">To run TS Auto matrix on non-IaC machine refer to - eng/iac/deploy/pipeline/azdo/machine_deployment/ TSAutoMatrix Semi-Automated-Run Initial Setup.md for installing AzdoAgent and Git<br /></span>
                        </label>
                        <br /><br />
                        <input asp-for="Instructions" class="form-control" @bind="@Instructions" required />

                    </div>
                    <br /><br />
                    <div style="float:right;">
                        <button class="btn btn-primary btn-md" disabled="@isSubmitting" type="submit" style="float:right;width:80px;">Run</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
}