@inherits DeployRunnableExportBase
@attribute [Authorize]

@if (MachinesList == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="container container-form">
        <a href="@runsLink" style="float:right">Runs</a>
        <h4 class="about-head">@PipeLineName </h4>
        @if (notification != "")
        {
            <div class="alert alert-success">
                @notification
                <span style="float:right">
                    <button type="button" class="close icon-button" @onclick="clearNotification">
                        <span aria-hidden="true">X</span>
                    </button>
                </span>
            </div>
        }
        <br />
        <form @onsubmit="RunPipeline">
            <div class="row">

                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label asp-for="MachineState" class="control-label">Machine State</label>
                        <select asp-for="MachineState" class="form-control" @bind="@MachineState" required>
                            <option value="Runnable export">Runnable export</option>
                            <option value="Runnable export and common software">Runnable export and common software</option>
                        </select>
                    </div>
                    <br />

                </div>
                <div class="col-md-6 col-lg-6">


                    <div class="form-group">
                        <label for="MachineName" class="control-label">Machine Name</label>
                        <select asp-for="MachineName" class="form-control" @bind="@MachineName" @bind:event="oninput" required>
                            <option value="">select machine</option>
                            @foreach (var _machine in MachinesList)
                            {
                                <option value="@_machine.Name">@_machine.Name</option>
                            }
                        </select>
                    </div>
                    <br /><br />
                    <div style="float:right;">
                        <button class="btn btn-primary btn-md" disabled="@isSubmitting" type="submit" style="float:right;width:80px;">Run</button>
                    </div>
                </div>


            </div>
        </form>
    </div>
}