@inherits TSAutoMatrixBase
@attribute [Authorize]

@if (MachinesList == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="container container-form">
        <a href="@runsLink" style="float:right">Runs</a>
        <h4 class="about-head">@PipeLineName </h4>
        @if (notification != "")
        {
            <div class="alert alert-success">
                @notification
                <span style="float:right">
                    <button type="button" class="close icon-button" @onclick="clearNotification">
                        <span aria-hidden="true">X</span>
                    </button>
                </span>
            </div>
        }
        <br />
        <form @onsubmit="RunPipeline">

            <div class="row">

                <div class="col-md-6 col-lg-6">

                    <div class="form-group">
                        <label asp-for="Instructions" class="control-label">
                            Instructions<br />
                            <span style="font-size:11px; color:#595a5c">To run TS Auto matrix on non-IaC machine refer to - eng/Pipelines/AutoTests/Frameworks/TSAuto/TSAutoMatrix Semi-Automated-Run Instructions.md <br /><br /></span>
                        </label>
                        <input asp-for="Instructions" class="form-control" @bind="@Instructions" required />

                    </div>
                    <br />
                    <div class="form-group">
                        <label for="Machine_Name" class="control-label">Machine Name</label>
                        <select asp-for="Machine_Name" class="form-control" @bind="@Machine_Name" @bind:event="oninput" required>
                            <option value="">select machine</option>
                            @foreach (var _machine in MachinesList)
                            {
                                <option value="@_machine.Name">@_machine.Name</option>
                            }
                        </select>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="RunSetupOnly" class="control-label">Run Till Machine Setup Only</label>
                        <select asp-for="RunSetupOnly" class="form-control" @bind="@RunSetupOnly" required>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="Bitness" class="control-label">Bitness</label>
                        <select asp-for="Bitness" class="form-control" @bind="@Bitness" required>
                            <option value="None">None</option>
                            <option value="32">32</option>
                            <option value="64">64</option>
                        </select>
                    </div>
                    <br />

                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label asp-for="OperatorInterface" class="control-label">Operator Interface</label>
                        <select asp-for="OperatorInterface" class="form-control" @bind="@OperatorInterface" required>
                            <option value="None">None</option>
                            <option value="Editor_32">Editor_32</option>
                            <option value="Editor_64">Editor_64</option>
                            <option value="UI_32_Simple_Csharp">UI_32_Simple_Csharp</option>
                            <option value="UI_64_Simple_Csharp">UI_64_Simple_Csharp</option>
                            <option value="UI_32_Full_Csharp">UI_32_Full_Csharp</option>
                            <option value="UI_64_Full_Csharp">UI_64_Full_Csharp</option>
                            <option value="UI_32_Simple_CPP">UI_32_Simple_CPP</option>
                            <option value="UI_64_Simple_CPP">UI_64_Simple_CPP</option>
                            <option value="UI_32_Full_CPP">UI_32_Full_CPP</option>
                            <option value="UI_64_Full_CPP">UI_64_Full_CPP</option>
                            <option value="UI_32_Simple_LabVIEW">UI_32_Simple_LabVIEW</option>
                            <option value="UI_64_Simple_LabVIEW">UI_64_Simple_LabVIEW</option>
                            <option value="UI_32_Full_LabVIEW">UI_32_Full_LabVIEW</option>
                            <option value="UI_64_Full_LabVIEW">UI_64_Full_LabVIEW</option>
                            <option value="UI_32_Simple_CVI">UI_32_Simple_CVI</option>
                            <option value="UI_64_Simple_CVI">UI_64_Simple_CVI</option>
                            <option value="UI_32_Full_CVI">UI_32_Full_CVI</option>
                            <option value="UI_64_Full_CVI">UI_64_Full_CVI</option>
                            <option value="UI_32_Simple_VB">UI_32_Simple_VB</option>
                            <option value="UI_64_Simple_VB">UI_64_Simple_VB</option>
                            <option value="UI_32_Full_VB">UI_32_Full_VB</option>
                            <option value="UI_64_Full_VB">UI_64_Full_VB</option>
                        </select>
                    </div>

                    <div class="form-group" style="padding:4px;">
                        <label asp-for="TestType" class="control-label">Test Type</label>
                        <select asp-for="TestType" class="form-control" @bind="@TestType" required>
                            <option value="None">None</option>
                            <option value="BasicTests">BasicTests</option>
                            <option value="NonDefaultDecimalPoint">NonDefaultDecimalPoint</option>
                            <option value="BSTROff">BSTROff</option>
                            <option value="EnableFIPsCompliantEncryption">EnableFIPsCompliantEncryption</option>
                            <option value="UNCPath">UNCPath</option>
                            <option value="EnableDebugOptions">EnableDebugOptions</option>
                            <option value="LegacyModelTesting">LegacyModelTesting</option>
                            <option value="CheckWindowsEventsAfterTest_SoT">CheckWindowsEventsAfterTest_SoT</option>
                        </select>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="TierToTest" class="control-label">Tiers to Test</label>
                        <select asp-for="TierToTest" class="form-control" @bind="@TierToTest" required>
                            <option value="None">None</option>
                            <option value="T1">T1</option>
                            <option value="T2">T2</option>
                            <option value="T1;T2">T1;T2</option>
                        </select>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="TSVersion" class="control-label">Different TS Version</label>
                        <input asp-for="TSVersion" class="form-control" @bind="@TSVersion" required />

                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="LVVersion" class="control-label">Different LV Version</label>
                        <input asp-for="LVVersion" class="form-control" @bind="@LVVersion" required />

                    </div>
                    <br /><br />
                    <div style="float:right;">
                        <button class="btn btn-primary btn-md" disabled="@isSubmitting" type="submit" style="float:right;width:80px;">Run</button>
                    </div>
                </div>


            </div>
        </form>
    </div>
}